:root {
	--background-color: 20, 20, 20;
	--foreground-color: 245, 245, 245;
	--background-color: 254, 254, 254;
	--foreground-color: 10, 10, 10;
	--max-width: 900px;
	--padding: 30px;
    --border-radius: 12px;
    
    /* Font Sizes */
    --large-size: 65px;
    --medium-size: 45px;
    --small-size: 25px;

    /* Brands */
    --paleta-color: #FF5294;
    --scalemate-color: rgb(248, 179, 28);
    --facebook-color: 29, 161, 243;
    --twitter-color: 29, 161, 243;
    --linkedin-color: 0, 119, 181;
    --github-color: #4078c0;
}

html, body {
    background-color: rgb(var(--background-color));
    color: rgb(var(--foreground-color));
	font-size: 14px;
	max-width: 100vw;
	min-height: 100%;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Header */
header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(20px);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--background-color), 0.8);
    height: calc(var(--padding) * 3);
    border-bottom: 1px solid rgba(var(--foreground-color), 0.05);
    z-index: 10;
    opacity: 0;
}

header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    height: 50px;
    z-index: 1;
    background: linear-gradient(rgba(var(--foreground-color), 0.03), transparent);
    pointer-events: none;
}

#header_inside {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: var(--max-width);
    padding-right: var(--padding);
}

#header_inside a {
    width: var(--padding);
    height: var(--padding);
    float: right;
    margin-top: var(--padding);
    background: transparent;
    opacity: .2;
    transition: 0.2s ease;
}

#header_inside a:hover {
    opacity: .3;
}

#header_inside a:active {
    opacity: .4;
}

#header_inside a path {
    fill: rgb(var(--foreground-color));
}

.jan {
    position: sticky;
    position: -webkit-sticky;
    top: var(--padding);
    width: 60px;
    height: 60px;
    -webkit-backdrop-filter: blur(10px);
    background-image: url(assets/jan.png?1);
    background-size: cover;
    z-index: 10;
    transition: 0s !important;
}

/* Social Media */
a[href^="p"] {
    color: var(--paleta-color);
}
a[href^="s"] {
    color: var(--scalemate-color);
}
a[href^="https://twitter"] {
    color: rgb(var(--twitter-color));
}
a[href^="https://linkedin"] {
    color: rgb(var(--linkedin-color));
}
a[href^="https://github"] {
    color: var(--github-color);
}

/* Details */

#details_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 120px var(--padding);
}

#details_container * {
    margin-bottom: 15px;
    font-weight: 800;
    display: block;
    font-size: var(--large-size);
    text-decoration: none;
    transition: 0.2s ease;
}

#details_container a:hover {
    padding-left: 30px;
}

h3 {
    font-weight: 800!important;
    font-size: var(--medium-size)!important;
    opacity: .5;
    margin-top: 90px;
}

@media screen and (max-width: 750px) {
    :root {
        --large-size: 12vw;
        --medium-size: 8vw;
        --small-size: 4vw;
    }
}