@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --color: hsl(200, 15%, 20%);
    --background: hsl(200, 15%, 90%);
    --gradient: linear-gradient(45deg, #4653ff, #ff843f);
    --transition: cubic-bezier(0, 0.68, 0.5, 1.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: hsl(200, 10%, 80%);
        --background: hsl(200, 10%, 5.5%);
        --gradient: linear-gradient(45deg, #C850C0, #FFCC70);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: var(--color);
    background: var(--background);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.66;
}

.app-block {
    margin: auto 0;
    max-width: 650px;
    display: inline-flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 20vh 2rem;
}

a {
    color: var(--color);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.virtually {
    display: inline-block;
    font-family: "Caveat", sans-serif;
    rotate: 2deg;
    background-image: var(--gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1.6rem;
}

p {
    margin: 0;
}

.byline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    opacity: 0.5;
    margin-top: -2rem;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    span {
        display: contents;
    }

    svg {
        width: 1.125rem;
        height: 1.125rem;

        * {
            stroke-width: 50px;
        }
    }
}

.app-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.app-icon {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 2rem;
    transition: 0.2s var(--transition);
    margin: -0.5px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2rem;
        translate: 0 -50%;
        background-color: var(--color);
        border-radius: 35%;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 2px 5px rgba(0 0 0 / 0.1), inset 0 2px 2px rgba(255 255 255 / 0.1), inset 0 -2px 2px rgba(255 255 255 / 0.1), inset 0 10px 10px rgba(255 255 255 / 0.05);
    }

    &:hover {
        scale: 1.25;
        z-index: 1;
    }

    &:active {
        scale: 1.15;
    }

    &:nth-of-type(odd) {
        rotate: 7.5deg;

        &:hover, &:active {
            rotate: -5deg;
        }
    }

    &:nth-of-type(even) {
        rotate: -5deg;

        &:hover, &:active {
            rotate: 7.5deg;
        }
    }
}

.app-icon--github {
    &::before {
        background-color: #64188d;
        background-image: url("logo-github.svg");
    }
}

.app-icon--x {
    &::before {
        background-color: #111;
        background-image: url("logo-x.svg");
        background-size: 50%;
    }
}

.app-icon--linkedin {
    &::before {
        background-color: #0f4fb6;
        background-image: url("logo-linkedin.svg");
    }
}

.app-icon--strava {
    &::before {
        background-color: #fc5200;
        background-image: url("logo-strava.svg");
    }
}
