<footer>
	<div class="vertical_centre">
		<p>
			Built in London. <wbr>Powered by <a class="interaction" href="https://www.github.com/janfaracik/janfaracik.github.io">GitHub</a>.</wbr>
		</p>
	</div>
</footer>
<script>
	function scrollToTop() {
		window.scroll({
			top: 0,
			left: 0,
			behavior: 'smooth'
		});
	}

	window.addEventListener('scroll', function(e) {
		document.getElementById('header').setAttribute("style", "opacity: " + Math.min(window.scrollY / 100, 1) + ";");
	});
</script>
</body>

</html>
