<!--<div style="padding: 40px;">
	<div id="landing_colors">
		{%- for i in (1..7) -%}
			<div class="colors">
				{%- for j in (1..7) -%}
					<div class="color"></div>
				{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
</div>-->

<div id="landing_bokeh">
	<div class="bokeh" style="top: 370px; left: 300px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 930px; left: 830px; opacity: 0.5; width: 300px; height: 300px;"></div>
	<div class="bokeh" style="top: 830px; left: 530px; opacity: 0.12; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 130px; left: 1230px; opacity: 0.8; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 1230px; left: 30px; opacity: 0.1; width: 100px; height: 100px;"></div>
	<div class="bokeh" style="top: 430px; left: 930px; opacity: 0.8; width: 50px; height: 50px;"></div>
	<div class="bokeh" style="top: 730px; left: 370px; opacity: 0.1; width: 60px; height: 60px;"></div>
	<div class="bokeh" style="top: 430px; left: 30px; opacity: 0.1; width: 79px; height: 79px;"></div>
	<div class="bokeh" style="top: 690px; left: 830px; opacity: 0.3; width: 400px; height: 400px;"></div>
	<div class="bokeh" style="top: 90px; left: 60px; opacity: 0.6; width: 250px; height: 250px;"></div>
</div>
<div id="landing_bokeh" style="transform: rotate(45deg);">
	<div class="bokeh" style="top: 370px; left: 300px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 930px; left: 830px; opacity: 0.05; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 830px; left: 530px; opacity: 0.12; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 130px; left: 1230px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 1230px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 930px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 730px; left: 370px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 690px; left: 830px; opacity: 0.03; width: 400px; height: 400px;"></div>
	<div class="bokeh" style="top: 90px; left: 60px; opacity: 0.06; width: 250px; height: 250px;"></div>
</div>
<div id="landing_bokeh" style="transform: rotate(90deg);">
	<div class="bokeh" style="top: 370px; left: 300px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 930px; left: 830px; opacity: 0.05; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 830px; left: 530px; opacity: 0.12; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 130px; left: 1230px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 1230px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 930px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 730px; left: 370px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 690px; left: 830px; opacity: 0.03; width: 400px; height: 400px;"></div>
	<div class="bokeh" style="top: 90px; left: 60px; opacity: 0.06; width: 250px; height: 250px;"></div>
</div>
<div id="landing_bokeh" style="transform: rotate(180deg);">
	<div class="bokeh" style="top: 370px; left: 300px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 930px; left: 830px; opacity: 0.05; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 830px; left: 530px; opacity: 0.12; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 130px; left: 1230px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 1230px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 930px; opacity: 0.08; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 730px; left: 370px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 430px; left: 30px; opacity: 0.1; width: gpx; height: vpx;"></div>
	<div class="bokeh" style="top: 690px; left: 830px; opacity: 0.03; width: 400px; height: 400px;"></div>
	<div class="bokeh" style="top: 90px; left: 60px; opacity: 0.06; width: 250px; height: 250px;"></div>
</div>
<div id="landing_title" style="transform: none;">
	<svg width="70px" height="100px" viewBox="0 0 70 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g>
			<path d="M35,100 C54.3299662,100 70,83.4345357 70,63 C70,42.5654643 41.1271275,0 35,0 C28.8728725,1.07193816e-15 0,42.5654643 0,63 C0,83.4345357 15.6700338,100 35,100 Z" id="Oval-Copy" fill="#D8D8D8"></path>
		</g>
	</svg>
	<h1 id="title">{{ page.title }}</h1>
	<h5 id="subtitle">{{ page.subtitle }}</h5>
</div>

<style>
	#landing_bokeh {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		animation-name: banana;
		animation-duration: 300s;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}

	.bokeh {
		position: absolute;
		width: 100px;
		height: 100px;
		background: radial-gradient(rgba(255, 0, 0, 0.3), red 90%);
		border-radius: 500px;
		filter: blur(4px);
		opacity: .15;
		animation-name: banana2;
		animation-duration: 100s;
		animation-fill-mode: both;
		animation-timing-function: ease;
	}

	@keyframes banana {
		0% {
			filter: hue-rotate(180deg);
		}

		50% {
			filter: hue-rotate(360deg);
		}

		100% {
			filter: hue-rotate(180deg);
		}
	}

	@keyframes banana2 {
		0% {}

		100% {
			transform: translate(1000px, 400px);
		}
	}
</style>
