<div id="landing_images">
	{%- for i in (1..9) -%}
		<div class="{%- if i != 5 -%}image_box{%- endif -%}{%- if i == 5 -%}title_box{%- endif -%}" {%- cycle '', 'style="animation-delay: 0.6s;"' -%}>

			{%- if i == 5 -%}
				<div id="landing_title">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0,50c0,27.61,22.39,50,50,50s50-22.39,50-50S77.61,0,50,0S0,22.39,0,50z M26,26
							h40l-8,8H34v20l-8,8V26z M74,74H34l8-8h24V46l8-8V74z" />
					</svg>
					<h1 id="title">{{ page.title }}</h1>
					<h5 id="subtitle">{{ page.subtitle }}</h5>
				</div>
			{%- endif -%}

			{%- if i != 5 -%}
				<div style="background-image: url(../assets/scalemate/images/{{ i }}.jpg);"></div>
			{%- endif -%}

		</div>
	{%- endfor -%}
</div>
