footer {
	padding: var(--padding);
	max-width: var(--max-width);
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr auto;
	user-select: none;

	.button {
		display: inline-flex;
		width: 32px;
		height: 32px;
		padding: 0;
	}

	a {
		color: var(--foreground-color);
		text-decoration: none;
	}

	p {
		font-size: 15px;
		font-weight: 600;
		line-height: 32px;
		opacity: 0.5;
	}
}
@media (max-width: 375px) {
	footer p {
		max-width: 160px;
	}
}
