.app-footer {
	font-weight: bold;
	padding: app-spacing(6) 0;
	margin: auto;
	user-select: none;
	font-size: var(--tiny-size);
	opacity: 0.5;

	a {
		color: var(--foreground-color);
		text-decoration: none;
	}
}
