#home-list-container {
	max-width: var(--max-width);
	margin: auto;
	padding: 120px var(--padding);

	@for $i from 0 through 100 {
		& > *:nth-child(#{$i}) {
			animation-name: bounce-up;
			animation-duration: 0.475s;
			animation-timing-function: cubic-bezier(0.000, 0.375, 0.085, 1.4);
			animation-fill-mode: both;
			animation-delay: $i * 0.075s;
		}
	}

	h1,
	h3,
	.page-link {
		font-weight: 800;
		display: block;
		font-size: var(--large-size);
		text-decoration: none;
		transition: 0.2s ease;
		margin-bottom: var(--padding);
	}

	h3 {
		font-size: var(--medium-size) !important;
		color: rgba(var(--foreground-color), 0.5);
	}

	a:hover {
		padding-left: 20px;
	}

	a[href$="paleta/"] {
		color: rgb(var(--paleta-color));
	}

	a[href$="scalemate/"] {
		color: rgb(var(--scalemate-color));
	}

	a[href^="https://twitter"] {
		color: rgb(var(--twitter-color));
	}

	a[href^="https://linkedin"] {
		color: rgb(var(--linkedin-color));
	}

	a[href^="https://github"] {
		color: rgb(var(--github-color));
	}

	.home-list-separator {
		height: 80px;
	}
}

@keyframes bounce-up {
	0% {
		opacity: 0;
		transform: translateY(175px);
		filter: blur(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
		filter: blur(0px);
	}
}

#fade-out {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 120px;
	background: linear-gradient(rgba(var(--background-color), 0), rgb(var(--background-color)));
	opacity: 0.6;
	pointer-events: none;
}
