.app-home {
	&__header {
		font-size: var(--medium-size);
		margin-bottom: app-spacing(6);
		opacity: 0.5;
		font-weight: 800;
	}

	&__section {
		margin-bottom: app-spacing(25);
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		list-style-type: none;
	}

	&__card {
		padding: 0;
		margin: 0;
		background: red;
		padding: app-spacing(6);
		font-size: var(--small-size);
		margin-bottom: app-spacing(10);
		font-weight: 800;

		a {
			text-decoration: none;
			color: currentColor;
			transition: 0.2s ease;

			&:hover {
				text-shadow: 10px 10px 0 red;
			}
		}
	}

	&__list {
		display: block;
		list-style-type: none;
	}

	&__item {
		font-size: var(--large-size);
		margin-bottom: app-spacing(10);
		font-weight: 800;

		a {
			text-decoration: none;
			color: black;
			transition: 0.2s ease;

			&:hover {
				text-shadow: 10px 10px 0 red;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
@keyframes bounce-up {
	0% {
		opacity: 0;
		transform: translateY(175px);
		filter: blur(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
		filter: blur(0px);
	}
}
