.button {
	position: relative;
	display: inline-block;
	padding: 0 var(--padding);
	background-color: rgba(var(--foreground-color), 0.075);
	color: rgb(var(--foreground-color));
	line-height: 46px;
	border-radius: 23px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}

.button::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid rgb(var(--foreground-color));
	border-radius: inherit;
	opacity: .05;
}
